.nav{
    background-color: rgb(18, 112, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:1rem;
    height:40px;
    position: sticky;
    text-decoration: none;
    color:black;
    top:0;
}
.nav a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}
@media (max-width:858px) {
    .nav{
        height:20px;
        padding:0.5rem;
        gap:1rem;
    }
}